/* favoriteItem.module.css */

/* 整个收藏项的容器样式 */
.favoritebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* 地点信息的容器样式 */
  .placebox {
    display: flex;
    align-items: center;
  }
  
  /* 地点名称的样式 */
  .name {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* 删除按钮的样式 */
  .button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  