.fullScreen {
  height: 90vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  margin: 0; /* 確保沒有額外的邊距 */
  padding: 0; /* 確保沒有額外的填充 */
}

.mapContainer {
  flex: 1;
  display: flex;
  width: 100%;
  margin: 0; /* 確保沒有額外的邊距 */
  padding: 0; /* 確保沒有額外的填充 */
}

@media (max-width: 995px) {
  .mapContainer {
    height: 100%;
    width: 100%;
  }

  .mapCol {
    height: 100%;
    width: 100%;
  }

  .map {
    height: 100%;
    width: 100%;
  }
}
